body{
	background-color:rgb(200, 200, 200);
	margin:0px;
}

h1{
	color:rgb(48,48,48);
	background-color:rgb(175,175,175);
	font-family:Georgia, Garamond, "Times New Roman", Times, Serif;
	font-size:4em;
	width:960px;/*sets a width that contains the text in the page*/
}

h2, h3{
	color:rgb(80,80,80);
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:3em;
}

h3{
	font-size:2em;
}

p{
	color:rgb(80,150,200);
	background-color:rgb(50,50,50);
	font-family:Helvetica, Arial, Verdana, Sans-Serif;
	font-size:1.333em;
	width:960px;
	padding:20px; /*sets "border" of 20px around p*/
	box-sizing: border-box; /*condense the padding within the value set in width*/
	margin:50px; /*spacing outside paragraph elements
				   you could to auto if you auto centering*/
}

blockquote{
	color:rgb(255,255,255);
	font-size:1em;
}

a:link{
	color:rgb(80,150,200);
	font-size:16pt;
}

a:visited{
	color:rgb(40,110,160);
}

a:hover{
	color:rgb(120,190,240);
}

a:active{
	color:rgb(140,210,255);
}

nav{
	width:960px;
	margin-top: 10px;
	margin-left: auto;
	margin-bottom: 10px;
	margin-right: auto;
}
li{
	display: inline-block;/*lists are block (vertical) by default, but inline will align them horizontally*/
}

img{
	display:inline-block; /*align horizontally*/
	display:block; /*stack vertically*/
}

figure{
	display:inline-block; /*align horizontally*/
	display:block; /*stack vertically*/
}

figure img{
	
}

figcaption{
	
}

